body {
    background: #142535;
    font-family: "Coming Soon", Arial;
    color: aliceblue;
}
.p1 {
    font-family: "Coming Soon", Arial;
    font-size: 1.25em;
    padding: 5px;
}
.b1 {
    font-family: "Coming Soon", Arial;
    font-size: 1em;
    border: none;
    background-color: #163c4d;
    color: aliceblue;
    padding: 10px;
}
.t {
    border: none;
    float: left;
    padding: 15px;
}

.hidden {
    display: none;
}