body {
    background: #142535;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
.b1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}